@media screen and (max-width: 705px){
  header{
      padding: 0;
  }
 header .left-header{
  padding: 3rem !important;
 }

.header-wrapper{
  grid-template-columns: 1fr;
  padding-bottom: 6rem;
}
.right-header{
  margin: 0;
  width: 90%;
  .h-shape{
    display: none;
  }
}
.left-header{
  grid-row: 1;
  width: 90%;
  margin-left: 2rem !important;
}
.header-wrapper .right-header .img{
  margin: 0 auto;
  width: 90%;
  height: 100%;
  margin-left: 4.8rem !important;
}
.about-wrapper{
grid-template-columns: 1fr;
width: 90%;
grid-gap: 2.5rem !important;
}
.left-about{
  grid-row: 1;
  margin: 0 auto;
  margin-left: 5rem !important;
  padding-top: .5rem;
}
.right-about{
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 90%;
  padding-left: 0;
  margin-left: 5rem !important;
p{
  padding-right: 0;
}
}

.about-stats{
  margin-left: 5rem !important;
  .progress-bars{
    grid-template-columns: 1fr;
   
  }
}
.project-wrapper{
  grid-template-columns: 1fr;
  width: 90%;
  padding-bottom: 6rem;
}
.main-title{
  h1{
    text-align: left;
  }
p{
  text-align: left;
}
}
.project-container{ 
grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  margin-left: 10rem !important;

}
.main-title3{
  h1{
    text-align: left;
  }
  p{
    text-align: left;
  }
}
.contact-info{
  margin-left: 5rem !important;
}
.section{
  padding: 2rem 2.5rem;
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 3%;
  margin-left: 0px;
}
}